-module(solution).

%% @lc-start --- ANYTHING ABOVE HERE IS IGNORED ------------------------------------------------- %%

{{.CodeSnippet}}

%% @lc-end ----- ANYTHING BELOW HERE IS IGNORED ------------------------------------------------- %%
